# ===============================
# Terraform
# ===============================
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*

# ===============================
# Keys & Secrets
# ===============================
*.pem
byod-key.pem

# ===============================
# Generated / Runtime Files
# ===============================
dynamic_inventory.ini
awscliv2.zip

# ===============================
# OS / Editor
# ===============================
.DS_Store
.vscode/
